<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-6 offset-3 mt-4">
      <h3>Add a Review</h3>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <!-- <div class="mb-3">
          <label for="author" class="form-label">Your Name</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="review[author]"
            required
          />
        </div> -->
        <div class="mb-3">
          <label for="content" class="form-label">Review</label>
          <textarea
            class="form-control"
            id="content"
            name="review[comment]"
            rows="3"
            required
          ></textarea>
          <div class="invalid-feedback">Please add comment</div>
        </div>
        <div class="mb-3">
          <label for="reviewRating" class="form-label">Rating</label>
          <select
            name="review[rating]"
            id="reviewRating"
            class="form-select"
            required
          >
            <option value="" disabled selected>Rate your experience</option>
            <option value="1">1 - Very Poor</option>
            <option value="2">2 - Poor</option>
            <option value="3">3 - Average</option>
            <option value="4">4 - Good</option>
            <option value="5">5 - Excellent</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
    </div>
  </div>
</body>
